@import '../../styles/index.scss';
.vdr-table {
    display: table;
    padding: 5px;
    width: 100%;
    .tr {
      display: table-row;
      padding: 5px;
    }
    .tr:nth-of-type(1) {
      .td {
        border-bottom: 2px solid #ddd;
      }
    }
    .td {
      @include font_pp;
      font-size: 12px;
      font-weight: 400;
      line-height: calc(12 / 17);
      color: #0a213a;
      word-break: none;
      display: table-cell;
      padding: 20px 10px;
      margin: 5px;
      border-bottom: 1px solid #ddd;
    }
}